torch
transformers
datasets
scikit-learn
accelerate
pandas
numpy
matplotlib
gradio
ipykernel
jsonschema
opensearch-py
kafka-python
fairlearn
opacus
imbalanced-learn
scipy
joblib
tqdm
python-dotenv
pyyaml
splunk-sdk
peft
mlflow
